body{
    background-color: #fbe1ff;
}

.navbar{
    background-color: #00000033;
    color: black;
    font-weight:bold;
}

.nav-link{
    color: black;
}

#message{
    background-color: #202020;
    color: white;
    width: 6cm;
}

.card{
    background-color: #f1fbed;
    margin: 10px 2px 10px 2px;
    width: 18cm;
}

#depend{
    background-color: #202020;
    color: white;
    width: 6cm;
}